In [29]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Data Import

In [30]:
household_df = pd.read_csv('data/household_level_data.csv')
person_df = pd.read_csv('data/person_level_data.csv')

# EDA

### Calculate the average weekly hours worked among men and women.

In [31]:
#Standardize the 'sex' column
def male_female(x):
    if x == 'M':
        return 'MALE'
    elif x == 'F':
        return 'FEMALE'
    else:
        return x

person_df['sex'] = person_df['sex'].map(lambda x: x.upper())
person_df['sex'] = person_df['sex'].map(male_female)

In [32]:
hours_by_sex = person_df.groupby('sex').mean()['weekly_hours_worked']
female_hours = hours_by_sex['FEMALE']
male_hours = hours_by_sex['MALE']

print(f'Women work an average of {round(female_hours, 2)} weekly hours.')
print(f'Men work an average of {round(male_hours, 2)} weekly hours.')
hours_by_sex

Women work an average of 21.73 weekly hours.
Men work an average of 28.67 weekly hours.

sex
FEMALE    21.725039
MALE      28.669930
Name: weekly_hours_worked, dtype: float64

### List the three households (i.e. household_ids) with the highest per person incomes.

In [33]:
# Map the total 'hh_income' values into the dataframe using the 'household_id' column
person_df['hh_income'] = [household_df[(household_df['household_id'] == i) & 
                                       (household_df['variable'] == 'hh_income')]['value'].item() 
                          for i in person_df['household_id']]

#Calculate the individuals income amounts
person_df['personal_income'] = person_df['hh_income'] * person_df['hh_income_pct']

#Sort the dataframe by income amounts
person_df.sort_values(by=['personal_income'], ascending=False, inplace=True)
person_df.reset_index(drop=True, inplace=True)

In [34]:
person_df[['household_id', 'hh_income', 'person_id', 
           'hh_income_pct', 'personal_income']].head(3)

   household_id  hh_income  person_id  hh_income_pct  personal_income
0         10110  1109371.0      23355       0.955742        1060273.0
1         38870   840245.0      89429       1.000000         840245.0
2         35657   815471.0      82159       0.999787         815297.0

In [35]:
print(f"The three household IDs with the highest per person \
incomes are {person_df['household_id'][0]}, \
{person_df['household_id'][1]}, {person_df['household_id'][2]}.")
      
print(f"Person {person_df['person_id'][0]} has the highest \
personal income in the dataset at {person_df['personal_income'][0]} \
and belongs to household {person_df['household_id'][0]}.")

print(f"Person {person_df['person_id'][1]} has the \
second highest personal income in the dataset at \
{person_df['personal_income'][1]} and belongs to household \
{person_df['household_id'][1]}.")

print(f"Person {person_df['person_id'][2]} has the third \
highest personal income in the dataset at {person_df['personal_income'][2]} \
and belongs to household {person_df['household_id'][2]}.")

The three household IDs with the highest per person incomes are 10110, 38870, 35657.
Person 23355 has the highest personal income in the dataset at 1060273.0 and belongs to household 10110.
Person 89429 has the second highest personal income in the dataset at 840245.0 and belongs to household 38870.
Person 82159 has the third highest personal income in the dataset at 815297.0 and belongs to household 35657.

### List the three individuals (i.e. person_ids) with the highest personal income, and the dollar amounts of their personal incomes.

In [36]:
print(f"The three individuals with the highest personal incomes are \
{person_df['person_id'][0]}, {person_df['person_id'][1]}, \
{person_df['person_id'][2]}")

print(f"Person {person_df['person_id'][0]} has the highest personal \
income in the dataset at {person_df['personal_income'][0]}.")

print(f"Person {person_df['person_id'][1]} has the second highest \
personal income in the dataset at {person_df['personal_income'][1]}.")

print(f"Person {person_df['person_id'][2]} has the third highest \
personal income in the dataset at {person_df['personal_income'][2]}.")

The three individuals with the highest personal incomes are 23355, 89429, 82159
Person 23355 has the highest personal income in the dataset at 1060273.0.
Person 89429 has the second highest personal income in the dataset at 840245.0.
Person 82159 has the third highest personal income in the dataset at 815297.0.

### Calculate the 80th percentile of age among people in each of the five marital categories.

In [37]:
# person_df['marital_status'].unique()

In [38]:
married_80p_age = np.percentile(person_df[person_df['marital_status'] 
                                          == 'married']['age'], 80)
married_80p_age

67.0

In [39]:
never_married_80p_age = np.percentile(person_df[person_df['marital_status'] 
                                                == 'never_married']['age'], 80)
never_married_80p_age

45.0

In [40]:
divorced_80p_age = np.percentile(person_df[person_df['marital_status'] 
                                           == 'divorced']['age'], 80)
divorced_80p_age

67.0

In [41]:
widowed_80p_age = np.percentile(person_df[person_df['marital_status'] 
                                          == 'widowed']['age'], 80)
widowed_80p_age

86.0

In [42]:
separated_80p_age = np.percentile(person_df[person_df['marital_status'] 
                                            == 'separated']['age'], 80)
separated_80p_age

61.0